*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

:root{
  --primary-color : #ED7016;
}

.btn{
  padding: 10px;
  border: 1px solid #0c1022;
  border-radius: 15px;
  font-size: 15px;
  color: #0c1022;
}

section{
  padding: 20px 10%;
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-block-end: 30px;
}

.text-center h2{
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-block-end: 20px;
  text-align: center;
  color: #5c5c5c;
}


.span{
  color: #ED7016;
}

/*HEADER SECTION CSS */

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  margin-block-end: 40px;
  transition: all .50s ease;
  z-index: 1000;
}

.logo{
  font-size: 20px;
  color: #fff;
  line-height: 30px;

}

.navbar ul{
  display: flex;
}

ul li a{
  color: white;
  margin-inline: 17px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 700;
}
ul li a:hover{
  color: #0c1022;
}


.btn-nav{
  font-weight: 800;
 
  padding: 10px 35px;
  cursor: pointer;
  transition: all .5s ease;
}

.btn-nav:hover{
background-color: #0c1022;
color: white;
}

/*HOME SECTION CSS */

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  margin-top: 60px;
  
}

.home-text{
  max-width: 40%;
}

.home-text h1{
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 60px;
  margin-block-end: 40px;
}

.home-text h1 span{
  color: #ED7016;
}

.btn-primary{
  background-color: #ED7016;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  color: #fff;
  margin-block-end: 30px;
}

.star-icon{
 margin-block-end: 19px;
}

.star-icon i{
  color: gold;
  margin-inline-start: 2px;
}

.home-text p{
  font-size: 17px;
  font-weight: 100;
  line-height: 25px;
}


.home-img{
  max-width: 55%;
 
}

.home-img img{
  width: 70%;
  height: auto;
  border-radius: 20px;
}


/*BOOK INFO SECTION CSS */

.book-info{
  padding: 15px 8%;
}

.book-content{
  display: flex;
}

.book-img{
  max-width: 50%;
}

.book-img img{
  width: 80%;
  height: auto;
  border-radius: 20px;
}

ol{
  max-width: 50%;

}

ol>li{
  margin-block-end: 40px;
}

ol > li > h2{
  font-size: 20px;
  color: #3a3939;
  margin-bottom: 30px;
}


ol > li > span{
  font-size: 15px;
  color: #5c5c5c;
  margin-bottom: 30px;
}

/*AUTHUR INFO SECTION CSS */

.about-author{
  padding: 15px 8%;
}


.about-author{
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-content{
  max-width: 45%;
}

.author-content h2{
  font-size: 2rem;
  line-height: 20px;
  margin-block-end: 25px;
  font-weight: 200;
  text-align: center;
}
.author-content p{
  font-size: 16px;
  line-height: 20px;
  margin-block-end: 25px;
 
}
.author-content h5{
 font-size: 19px;
 line-height: 10px;
 font-family: cursive;
 
}

.author-img{
  max-width: 50%;
}

.author-img img{
  width: 90%;
  height: auto;
  border-radius: 20px;
}


/*BOOK CHAPTER SECTION CSS */

.book-chapter{
  padding: 15px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box{
  width: 65%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  margin-block-end: 40px;
  margin-top: 60px;
}

.box-1{
  display: flex;
 align-items: flex-start;
  justify-content: space-between;
  margin-block-end: 10px;
  padding: 20px ;
}

.box-1 h4{
  color: #3a3939;
  font-size: 20px;
}


.box-1 p{
 max-width: 70%;
 font-weight: 100;
 line-height: 26px;
 color: #5c5c5c;
}


/*TESTIMONIA SECTION CSS */

.testimonial{
  padding: 15px 8%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-block-end: 45px;
}

.test-box{
  width: 95%;
  height: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(237, 112, 22, 1)
  , 0 6px 20px 0 rgba(237, 112, 22, 0.1)
  ;
  padding: 30px;
  transition: all .5s ease;
}

.test-box:hover{
  transform: translateY(-9px);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 30px;
}

.flex img{
  margin-right: 15px;
  border-radius: 100px;
  height: 80px;
}

.flex-content{
  max-width: 80%;
}

.flex-content h2{
  font-size: 20px;
  margin-block-end: 5px;
  font-family: sans-serif;
}

.flex-content span{
  color: #ED7016;
  margin-bottom: 5px;
}

.rev-star{
  color: gold;
  margin-top: 4px;
}
