*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

:root{
  --primary-color : #ED7016;
}

.btn{
  padding: 10px;
  border: 1px solid #0c1022;
  border-radius: 15px;
  font-size: 15px;
  color: #0c1022;
}

.btn-primary{
  font-size: 20px;
  transition: all .5s ease;
}

.btn-primary:hover{
  background-color: #0c1022;
  color: white;
}

section{
  padding: 20px 10%;
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-block-end: 30px;
}

.text-center h2{
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-block-end: 20px;
  text-align: center;
  color: #5c5c5c;
}


.span{
  color: #ED7016;
}

/*HEADER SECTION CSS */

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  margin-block-end: 40px;
  transition: all .50s ease;
  z-index: 1000;
}

.logo{
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
  text-transform: uppercase;

}

.navbar {
  display: flex;
}

ul li a{
  color: white;
  margin-inline: 17px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 700;
  position: relative;
}

ul li a::before{
  content: "";
  height: 4px;
  width: 0%;
  background-color: white;
  position: absolute;
  top: 100%;
  bottom: 0;
  transition: all .5s ease;
}

ul li a:hover{
  color: #0c1022;
}

ul li a:hover::before{
  width: 100%;
}


#menu-icon{
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  color: #fff;
  margin-right: 15px;
  display: none;
}

#close-icon{
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  color: #fff;
  margin-right: 15px;
  display: none;
}



.btn-nav{
  font-weight: 800;
 
  padding: 10px 35px;
  cursor: pointer;
  transition: all .5s ease;
}

.btn-nav:hover{
background-color: #0c1022;
color: white;
}



/*HOME SECTION CSS */

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  margin-top: 60px;
  
}

.home-text{
  max-width: 40%;
}

.home-text h1{
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 60px;
  margin-block-end: 40px;
}

.home-text h1 span{
  color: #ED7016;
}

.btn-primary{
  background-color: #ED7016;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  color: #fff;
  margin-block-end: 30px;
}

.star-icon{
 margin-block-end: 19px;
}

.star-icon i{
  color: gold;
  margin-inline-start: 2px;
}

.home-text p{
  font-size: 17px;
  font-weight: 100;
  line-height: 25px;
}


.home-img{
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.home-img img{
  width: 70%;
  height: auto;
  border-radius: 20px;
}


/*BOOK INFO SECTION CSS */

.book-info{
  padding: 15px 8%;
}

.book-content{
  display: flex;
}

.book-img{
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-img img{
  width: 80%;
  height: auto;
  border-radius: 20px;
}

ol{
  max-width: 50%;

}

ol>li{
  margin-block-end: 40px;
}

ol > li > h2{
  font-size: 20px;
  color: #3a3939;
  margin-bottom: 30px;
}


ol > li > span{
  font-size: 15px;
  color: #5c5c5c;
  margin-bottom: 30px;
}

/*AUTHUR INFO SECTION CSS */

.about-author{
  padding: 15px 8%;
}


.about-author{
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-content{
  max-width: 45%;
}

.author-content h2{
  font-size: 1.7rem;
  line-height: 20px;
  margin-block-end: 25px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}
.author-content p{
  font-size: 16px;
  line-height: 20px;
  margin-block-end: 25px;
 
}
.author-content h5{
 font-size: 19px;
 line-height: 10px;
 font-family: cursive;
 
}

.author-img{
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-img img{
  width: 90%;
  height: auto;
  border-radius: 20px;
}


/*BOOK CHAPTER SECTION CSS */

.book-chapter{
  padding: 15px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box{
  width: 65%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  margin-block-end: 40px;
  margin-top: 60px;
}

.box-1{
  display: flex;
 align-items: flex-start;
  justify-content: space-between;
  margin-block-end: 10px;
  padding: 20px ;
}

.box-1 h4{
  color: #3a3939;
  font-size: 20px;
}


.box-1 p{
 max-width: 70%;
 font-weight: 100;
 line-height: 26px;
 color: #5c5c5c;
}


/*TESTIMONIA SECTION CSS */

.testimonial{
  padding: 15px 8%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-block-end: 45px;
}

.test-box{
  width: 95%;
  height: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(237, 112, 22, 1)
  , 0 6px 20px 0 rgba(237, 112, 22, 0.1)
  ;
  padding: 30px;
  transition: all .5s ease;
}

.test-box:hover{
  transform: translateY(-9px);
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 30px;
}

.flex img{
  margin-right: 15px;
  border-radius: 100px;
  height: 80px;
}

.flex-content{
  max-width: 80%;
}

.flex-content h2{
  font-size: 20px;
  margin-block-end: 5px;
  font-family: sans-serif;
}

.flex-content span{
  color: #ED7016;
  margin-bottom: 5px;
}

.rev-star{
  color: gold;
  margin-top: 4px;
}



/*pricing SECTION CSS */

.pricing{
  padding: 15px 8%;
 
}

.pricing-card{
  display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 4rem;
 margin-block-end: 45px;
}

.card{
  width: 100%;
  max-width: 320px;
  height: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 3px 0 rgba(237, 112, 22, 1)
  , 0 6px 20px 0 rgba(237, 112, 22, 0.1)
  ;
  padding: 30px 3%;
  margin-right: 40px;
  transition: all .5s ease;
  
}

.card:hover{
  transform: translateY(-5px);
}

.pricing .card h2{
color: #ED7016;
font-weight: 300;
margin-block-end: 30px;
}

.pricing .card h3{
  font-size: 40px;
  margin-block-end: 20px;
}


.pricing .card ul li{
 font-size: 13px;
 margin-block-end: 20px;
 font-family: cursive;
 
}


footer{
  padding: 12px 8%;
  background-color: #ED7016;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

footer p{
  font-size: 18px;
}


footer .footer-icon{
  padding: 10px 20px;
}


footer .footer-icon i{
 margin-right: 10px;
 border: 1px solid #fff;
 padding: 8px;
 border-radius: 50px;
}


/*MEDIA QUERY SECTION */

@media screen and  (max-width: 480px) {

  .header{
   
    padding: 5px ;
  }


  .navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ED7016;
    top: 100%;
    right: -100%;
    width: 225px;
    min-height: 100vh;
  }

  .navbar a{
    padding: 17px;
    display: block;
    color: #fff;
  }

  .navbar .active{
    right: 0;
  }

  #menu-icon{
    
    display: block;
  }

  ul li a:hover::before{
    width: 40%;
  }


  
  .btn-nav{
 display: none;
  }

  .home{
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
   
    
  }

  .home-text{
    max-width: 100%;
  }

  .home-text h1{
    font-size: 2.5rem;
   text-align: center;
    margin-block-end: 20px;
    
  }

    .star-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 10px;
  }

  .home .home-text .btn{
    margin-left: 25%;
  }

  .home-img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
   
  }
  
  .home-img img{
    width: 50%;
  }

  .text-center h2{
    font-size: 1.4rem;
    text-align: center;
  }
  .text-center p{
    
    text-align: center;
  }

  .book-content{
    display: block;
  }

  .book-img{
    max-width: 100%;
    margin-top: 30px;
  }

  .book-img img{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ol{
    max-width: 100%;
    text-align: start;
    margin-top: 40px;
  }

  ol li{
    font-size: 39px;
  }

  .about-author{
    display: flex;
    flex-direction: column;
  }

  .author-content{
    max-width: 100%;
    text-align: start;
    margin-block-end: 20px;
    order: 1;
  }
  .author-content p{
    line-height: 35px;
  }

  .author-img{
    max-width: 100%;
    margin-block-end: 30px;
   
  }

 

  .box{
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    padding:  0px;
  
  }

  .box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .box-1 p{
    margin: 0;
   max-width: 90%;
   text-align: start;
  }


 .testimonial{
  display: flex;
  flex-direction: column;
 }

  .pricing-card {
  display: block;
  }

  .pricing-card .card-1{
    margin-bottom: 30px;
  }


  footer{
    padding: 4px;
   
  }

  footer p{
    font-size: 16px;
  }
  
  
  footer .footer-icon{
    padding: 0;
    
  }
  footer .footer-icon i{
   font-size: 8px;
  }
  
  
  

}

@media screen and  (max-width: 768px) {

  .header{
   
    padding: 5px ;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ED7016;
    top: 100%;
    right: -100%;
    width: 225px;
    min-height: 100vh;
  }

  .navbar.active{
    display: block;
    right: 0%;
  }

  #menu-icon{
    display: block;
  }


  #close-icon {
    display: none;
  }

  .navbar a{
    padding: 17px;
    display: block;
    color: #fff;
  }

  ul li a:hover::before{
    width: 40%;
  }
  
  .btn-nav{
 display: none;
  }

  .home{
    display: inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }

  .home-text{
    max-width: 100%;
  }

  .home-text h1{
    font-size: 2.5rem;
   text-align: center;
    margin-block-end: 20px;
    
  }

    .star-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 10px;
  }


  .home-text p{
    
   text-align: center;
    margin-block-end: 20px;
    
  }

  .home .home-text .btn{
    margin-left: 38%;
  }

  .home-img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
   
  }
  
  .home-img img{
    width: 48%;
  }

  .text-center h2{
    font-size: 1.4rem;
    text-align: center;
  }
  .text-center p{
    
    text-align: center;
  }

  .book-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .book-img{
    max-width: 80%;
    margin-top: 30px;
  }

  .book-img img{
    width: 65%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ol{
    max-width: 100%;
    text-align: start;
    margin-top: 40px;
  }

  ol li{
    font-size: 39px;
  }

  .about-author{
    display: flex;
    flex-direction: column;
  }

  .author-content{
    max-width: 100%;
    text-align: start;
    margin-block-end: 20px;
    order: 1;
  }
  .author-content p{
    line-height: 35px;
  }

  .author-img{
    max-width: 100%;
    margin-block-end: 30px;
  }

  .author-img img{
    max-width: 65%;
    margin-block-end: 30px;
  }

 

  .box{
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.3);
    padding:  0px;
  
  }

  .box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .box-1 p{
    margin: 0;
   max-width: 90%;
   text-align: start;
  }

  .box-1 h4{
    margin-top: 20px;
    margin-block-end: 30px;
  }


  .testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  footer{
    padding: 4px;
   
  }

  footer p{
    font-size: 16px;
  }
  
  
  footer .footer-icon{
    padding: 0;
    
  }
  footer .footer-icon i{
   font-size: 8px;
  }
  
  
  

}