*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

:root{
  --primary-color : #ED7016;
}


/*re-used classes CSS */
.btn{
  padding: 10px;
  border: 1px solid #0c1022;
  border-radius: 15px;
  font-size: 15px;
  color: #0c1022;
}

.btn-primary{
  font-size: 20px;
  transition: all .5s ease;
}

.btn-primary:hover{
  background-color: #0c1022;
  color: white;
}

section{
  padding: 20px 10%;
}

.container{
  padding-inline: 16px;
}

.text-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-block-end: 30px;
}

.text-center h2{
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-block-end: 20px;
  text-align: center;
  color: #5c5c5c;
}


.span{
  color: #ED7016;
}

/*HEADER SECTION CSS */

.header{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ED7016;
  width: 100%;
  padding-block: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 4;

}

.logo{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.header.active{
  position: fixed;
  animation: slidein 0.5s ease forwards;
}

@keyframes slidein {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-open-btn{
  font-size: 1.5rem;
  color: #ED7016;
  padding: 4px;
  
}


.navbar{
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #ED7016;
  color: white;
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all .5s ease;
}

.navbar-list li{
 padding: 10px 0;
 margin-bottom: 22px;
 
}

.navbar-list li a{
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}


.navbar.active{
  visibility: visible;
  transform: translateX(300px);
}

.navbar-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-close-btn{
  background-color: #fff;
  color: #ED7016;
  font-size: 2rem;
  padding: 6px;
  border: none;
  border-radius: 4px;
  transition: all .5s ease;
  
}

.nav-close-btn fa-times{
  --ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover,:focus-visible){
  background-color: #3a3939;
  
}


/*
ul li a{
  color: white;
  margin-inline: 17px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 700;
  position: relative;
}

ul li a::before{
  content: "";
  height: 4px;
  width: 0%;
  background-color: white;
  position: absolute;
  top: 100%;
  bottom: 0;
  transition: all .5s ease;
}

ul li a:hover{
  color: #0c1022;
}

ul li a:hover::before{
  width: 100%;
}

.btn-nav{
  font-weight: 800;
 
  padding: 10px 35px;
  cursor: pointer;
  transition: all .5s ease;
}

.btn-nav:hover{
background-color: #0c1022;
color: white;
}
*/


/*HOME SECTION CSS */

.home{
  width: 100%;
  height: 100%;
}


.home-container{
 max-width: 500px;
 margin-top: 10%;
 
}

.home-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 30px;
 
}

.home-text h1{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 43px;
  margin-top: 10%;
  margin-block-end: 40px;
  text-align: center;
}

.home-text h1 span{
  color: #ED7016;
}

.btn-primary{
  background-color: #ED7016;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  color: #fff;
  margin-block-end: 30px;
}

.star-icon{
 margin-block-end: 19px;
}

.star-icon i{
  color: gold;
  margin-inline-start: 2px;
}

.home-text p{
  font-size: 17px;
  font-weight: 100;
  line-height: 25px;
  max-width: 80%;
  text-align: center;
}


.home-img{
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.home-img img{
  width: 50%;
  height: auto;
  border-radius: 20px;
}


/*BOOK INFO SECTION CSS */

.book-info{
  padding: 0;
  
}

.book-info .text-center h2{
  font-size: 1.5rem;
}

.book-content{
 
 max-width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 0;
}

.book-img{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.book-img img{
  width: 70%;
  height: auto;
  border-radius: 20px;
}

ol{
  max-width: 100%;
  padding: 15px 8%;
  margin-top: 30px;

}

ol>li{
  margin-block-end: 40px;
}

ol > li > h2{
  font-size: 20px;
  color: #3a3939;
  margin-bottom: 30px;
}


ol > li > span{
  font-size: 15px;
  color: #5c5c5c;
  margin-bottom: 30px;
}

/*AUTHUR INFO SECTION CSS */

.about-author{
  padding: 15px 8%;
}


.about-author{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-content{
 padding: 10px 2%;
}

.author-content h2{
  font-size: 1.7rem;
  line-height: 20px;
  margin-block-end: 25px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  
}
.author-content p{
  font-size: 16px;
  line-height: 25px;
  margin-block-end: 25px;
 
}
.author-content h5{
 font-size: 19px;
 line-height: 10px;
 margin-bottom: 20px;
 font-family: cursive;
}

.author-img{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
 
}

.author-img img{
  width: 80%;
  height: auto;
  border-radius: 20px;
}


/*BOOK CHAPTER SECTION CSS */

.book-chapter{
  padding: 15px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-chapter .text-center h2,
.book-chapter .text-center p{
  text-align: center;
}


.box{
  max-width: 100%;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-block-end: 40px;
  margin-top: 40px;
}

.box-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 10px;
  padding: 20px ;
}

.box-1 h4{
  color: #3a3939;
  font-size: 20px;
  margin-bottom: 20px;
}


.box-1 p{
 
 font-weight: 100;
 line-height: 26px;
 color: #5c5c5c;
}


/*TESTIMONIA SECTION CSS */

.testimonial{
  max-width: 100%;
 
}

.testimonial-container{
  max-width: 100%;
  width: 100%;
}

.test-box{
  width: 100%;
  height: auto;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(237, 112, 22, 1)
  , 0 6px 20px 0 rgba(237, 112, 22, 0.1);
  padding: 20px;
margin-block-end: 20px;
  transition: all .5s ease;
}

.test-box:hover{
  transform: translateY(-9px);
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-end: 30px;
}

.flex img{
  border-radius: 100px;
  margin-bottom: 20px;
  height: 80px;
}

.flex-content{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-content h2{
  font-size: 20px;
  text-align: center;
  margin-block-end: 5px;
  font-family: sans-serif;
}

.flex-content span{
  color: #ED7016;
  margin-bottom: 5px;
}

.rev-star{
  color: gold;
  margin-top: 4px;
}



/*pricing SECTION CSS */

.pricing{
  padding: 15px 8%;
 
}

.pricing .text-center h2{
  font-size: 1.6rem;
}

.pricing .text-center h2,
.pricing .text-center p{
  text-align: center;

}

.pricing-card{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 4rem;
 margin-block-end: 45px;
}

.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 0px rgba(237, 112, 22, 1)
  , 0 6px 20px 0 rgba(237, 112, 22, 0.1);
  transition: all .5s ease;
  margin-bottom: 15px;
}

.card:hover{
  transform: translateY(-5px);
}

.pricing .card h2{
color: #ED7016;
font-weight: 300;
margin-block-end: 30px;
margin-top: 20px;
}

.pricing .card h3{
  font-size: 40px;
  margin-block-end: 20px;
}


.pricing .card ul li{
 font-size: 13px;
 margin-block-end: 20px;
 font-family: cursive;
 
}


footer{
  padding: 10px 8%;
  background-color: #ED7016;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

footer p{
  font-size: 18px;
}


.footer-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;

}


footer .footer-icon i{
  font-size: 10px;
 margin-right: 10px;
 border: 1px solid #fff;
 padding: 8px;
 border-radius: 50px;
}


/*MEDIA QUERY SECTION */

@media screen and   (min-width: 768px) { 

  .home-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
  }

  .home-text h1{
    font-size: 3.4rem;
    line-height: 80px;
  }

  .book-content .book-img{
    max-width: 100%;
  }
  .book-content .book-img img{
    max-width: 50%;
  }


  .about-author .author-img{
    max-width: 100%;
    height: auto;
  }

  .about-author .author-img img{
    max-width: 50%;

  }

  .testimonial-container{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  

  .pricing-card{
    display: flex;
    flex-direction: row;
  }
}


@media screen and   (min-width: 1024px) { 

  .home-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
  }

  .home-text{
    max-width: 60%;
  }

  .home-text h1{
    font-size: 3.5rem;
    text-align: center;
  }

  .home-img{
    max-width: 40%;
  }

  .home-img img{
    width: 100%;
  }

  /*BOOK SECTION */

  .book-info .text-center h2{
    font-size: 2rem;
  }

  .book-content{
    
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .book-img{
    max-width: 70%;
   width: 100%;
  }

  .book-img img{
    width: 100%;
    height: auto;
  }

  ol{
    max-width: 50%;
    padding: 0px 0%;
    margin-top: 0px;
  
  }
}  





